{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="mt-5">CERTIFICADOS</h3>
            </div>
            <div class="col-md-4 border rounded ms-auto my-4 d-flex align-items-center justify-content-end p-2">
                <form action="{% url 'buscarCertificado' %}" class="w-100">
                    <div class="input-group">
                        <input type="text" class="form-control" name="buscarCertificado" placeholder="Pesquisar">
                        <div class="input-group-append mx-1">
                            <button type="submit" class="btn btn-transparent">
                                <i class="bi bi-search" style="color: #ffae00; font-size: 1rem;"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            {% if cards %}
            {% for certificado in cards %}
            <div class="card col-md-4 m-3" style="width: 25.5em;">
                <a href="{% url 'certificado' certificado.id %}">
                    <img class="card-img-top" src="{{ certificado.imagem.url }}" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">{{certificado.nome}}</h5>
                        <p class="card-text">{{certificado.legenda}}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
            {% else %}
            <div class="imagem__texto">
                <p class="text-light">Certificados não encontrados</p>
            </div>
            {% endif %}
        </div>
    </div>
{%endblock%}